@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--BACKGROUND: #FAFAFA;
	--PRIMARY: #F74838;
  --SECONDARY: #cdcdcd;
  --SUCSESS: #00C46B;

	--FONT: "Montserrat", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;
}

i {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: var(--BACKGROUND);
  font-weight: 600;
}

a:focus-visible {
  outline: none;
  box-shadow: 0 3px 1px #00000032;
  transform: scale(1.05);
}

button {
  border: none;
  padding: 1em;
}

button:focus-visible {
  outline: none;
  box-shadow: 0 3px 1px #00000032;
}

label {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1em;
}

label i {
  margin-right: 0.5em;
  font-size: 26px;

}

.nav-input, .cep-input {
  width: 300px;
  padding: 1em;
  border: none;
  border-radius: 4px;
  background-color: var(--BACKGROUND);
}

input:focus-visible {
  outline: none;
  box-shadow: 0 3px 1px #00000032;
}

body {
  margin: auto;
  font-family: var(--FONT);
  background-color: var(--BACKGROUND);
}

nav {
  padding: 1em;
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 10px #00000013;
}

header img {
  width: 100%;
  margin-top: 1em;
  border-radius: 1em;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 1em auto;
}

aside {
  width: 50%;
}

section {
  width: 50%;
  padding: 1em;
  border-radius: 1em;
}

.header-content {
  padding: 1em;
  margin: 0 auto;
  background-color: var(--PRIMARY);
}

.contact {
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact i {
  padding: 1em;
  font-size: 16px;
  border-radius: 1em;
  color: var(--PRIMARY);
  background-color: var(--BACKGROUND);
}

.contact-content {
  text-align: left;
  font-weight: normal;
  flex-direction: column;
}

.contact .contact-content:hover {
  transform: translateX(5px);
}

.nav-tab {
  gap: 2em;
  display: flex;
  list-style: none;
}

.nav-icon a {
  margin: 0 15px;
}

.nav-search {
  gap: 1em;
  display: flex;
  align-items: center;
}

.nav-search i {
  padding: 1em;
  font-size: 16px;
  border-radius: .5em;
  color: var(--BACKGROUND);
  background-color: var(--PRIMARY);
}	

.nav-tab-active {
  padding: .5em;
  border-radius: .5em;
  color: var(--PRIMARY);
  background-color: var(--BACKGROUND);
}

.image-selector {
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-image {
  max-width: 300px;
}

.main-image img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.thumbnail-images {
  display: flex;
  gap: 10px;
}

.thumbnail-images img {
  object-fit: contain;
}

.thumbnail {
  width: 100px;
  height: 100px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.3s;
}

.thumbnail:hover {
  transform: scale(1.1); /* Zoom ao passar o mouse */
}

#product-info {
  padding: 1em;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

#product-info h2 {
  font-size: 30px;
}

#product-info h3 {
  font-size: 30px;
}

#product-description {
  font-size: 20px;
}

.price-container {
  display: flex;
  gap: 1em;
}

.label {
  font-size: 18px;
  font-weight: 600;
  color: var(--SECONDARY);
}

.btn-container {
  gap: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  flex: 1;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  padding: .5em 1em;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
  color: var(--BACKGROUND);
  background-color: var(--PRIMARY);
  transition: background-color 0.3s ease-in-out;
}

.product-options-container { 
  width: 350px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  border: 1px solid var(--SECONDARY);
}

.product-purchase-options {
  flex: 1;
}

.purchase-options-input {
  flex: 1;
  display: flex;
  margin-bottom: 10%;
  justify-content: space-between;
  border: 1px solid var(--SECONDARY);
}

.avaliable-stock {
  font-weight: 600;
  color: var(--SUCSESS);
}

.quantity {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
  margin: 1em 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--SECONDARY);
}

.label-amount {
  flex: 1;
  gap: 1em;
}


.seletor-amount {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector-amount i {
  font-size: 18px;
}

.quantity-field {
  width: 20px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  background-color: var(--SECONDARY);
}
