<div class="flex justify-center mt-6">
  <div class="relative overflow-hidden rounded-lg shadow-lg" (mouseenter)="pauseAutoSlide()" (mouseleave)="startAutoSlide()">
    <!-- Carousel wrapper -->
    <div class="flex transition-transform duration-700 ease-in-out"
         [ngStyle]="{'transform': 'translateX(-' + (currentIndex * 100) + '%)'}">
      <div *ngFor="let image of images" class="min-w-full">
        <img [src]="image" class="w-full h-48 md:h-64 object-cover" alt="Slide Image">
      </div>
    </div>

    <!-- Slider indicators -->
    <div class="absolute bottom-4 left-1/2 flex space-x-3 -translate-x-1/2">
      <button *ngFor="let image of images; let i = index"
              (click)="goToSlide(i)"
              class="w-3 h-3 rounded-full bg-gray-300"
              [ngClass]="{'bg-blue-500': currentIndex === i}">
      </button>
    </div>

    <!-- Slider controls -->
    <button (click)="prevSlide()" class="absolute top-0 left-0 z-30 flex items-center h-full px-4 cursor-pointer">
      <span class="inline-flex items-center justify-center w-10 h-10 text-white">
        &#10094;
      </span>
    </button>

    <button (click)="nextSlide()" class="absolute top-0 right-0 z-30 flex items-center h-full px-4 cursor-pointer">
      <span class="inline-flex items-center justify-center w-10 h-10 text-white">
        &#10095;
      </span>
    </button>
  </div>
</div>
