<a [routerLink]="['/product', product.id]" class="bg-white rounded-xl shadow-lg w-37 md:w-50 h-80 flex flex-col overflow-hidden transition-transform transform hover:scale-105">
  <!-- Img -->
  <div class="md:h-50 h-40 p-4 flex justify-center items-center bg-gray-200 ">
    <img [src]="product.img" [alt]="product.name" class="max-h-full object-contain" />
  </div>

  <!-- Name -->
  <div class="container mx-auto px-4 justify-center flex flex-col mt-2">
  <h2 class="text-md font-bold">
    {{ product.name.length > 20 ? (product.name | slice:0:20) + '...' : product.name }}
  </h2>

  <!-- Price and discount -->
  <div class="mt-2">
    <ng-container *ngIf="product.discount; else nodiscount">
      <div class="flex justify-around">
        <div class="flex flex-col">
      <div class="text-red-500 font-bold">- {{ product.discount }}%</div>
      <p class="line-through text-gray-500 text-sm">
        De R$ {{ product.price | number:'1.2-2' }}
      </p>
    </div>
      <p class="text-green-600 font-bold text-md">
        por<br>R$ {{ getFinalPrice() | number:'1.2-2' }}
      </p>
    </div>
    </ng-container>

    <ng-template #nodiscount>
      <p class="text-green-600 font-bold text-lg">
        R$ {{ product.price | number:'1.2-2' }}
      </p>
      <p class="text-sm font-light">
        {{ product.description.length > 20 ? (product.description | slice:0:40) + '...' : product.description }}
      </p>
    </ng-template>
  </div>
</div>
</a>
