@import "tailwindcss";

@theme {
  --animate-squash: squash 2s ease-in-out infinite;
  @keyframes squash {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(0.0);
    }
    100% {
      transform: scaleX(-1);
    }
  }
}

body {
  @apply bg-gray-50 text-gray-800 antialiased;
}

.nav-link.isActive {
  @apply text-emerald-700 font-semibold bg-emerald-50;
}
